<div layout="column" class="md-padding">
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head md-order="ordering" md-on-reorder="updateData">
                <tr md-row>
                    <th md-column md-order-by="review_state"><span>Status</span></th>
                    <th md-column><span>User</span></th>
                    <th md-column md-order-by="db_object_id"><span>Gene ID</span></th>
                    <th md-column md-order-by="db_object_symbol"><span>Name</span></th>
                    <th md-column md-order-by="db_reference"><span>Reference</span></th>
                    <th md-column md-order-by="evidence_code"><span>Evidence Code</span></th>
                    <th md-column md-order-by="date"><span>Date</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="d in data">
                    <td md-cell>
                        {{d.review_state | review_state_to_english}}
                    </td>
                    <td md-cell>
                        <user-icon user="{{d.owner}}"></user-icon>
                    </td>
                    <td md-cell>{{d.db_object_id}}</td>
                    <td md-cell>{{d.db_object_name}}</td>
                    <td md-cell>{{d.db_reference}}</td>
                    <td md-cell>
                        <span>
                            {{ d.evidence_code }}
                            <md-tooltip md-direction="bottom">
                                {{d.evidence_code | eco_to_text}}
                            </md-tooltip>
                        </span>
                    </td>
                    <td md-cell>{{d.date}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination
        md-limit="query.limit"
        md-page="query.page"
        md-total="{{data.meta.count}}"
        md-page-select="options.pageSelect"
        md-on-paginate="updateData"></md-table-pagination>
</div>
