<style>
    md-input-container .md-input[disabled] {
        color: black;
    }
    md-card md-card-header md-card-avatar {
        height:50px;
        width:50px;
    }
    md-card md-card-header md-card-avatar+md-card-header-text .md-title {
        max-height:100px;
        font-size:20px;
    }
    md-card md-card-header md-card-avatar+md-card-header-text {
        max-height:100px;
    }
    @media only screen and (max-width: 800px) {
        md-card-avatar {
            display: none;
        }
    }
    table.md-table td.md-cell div {
        max-height: 4rem;
        overflow: scroll;
    }
</style>
<div layout="row" layout-xs="column" layout-align="center">
    <md-card flex-gt-xs="25">
        <md-card-header style="background-color: {{gaf.review_state | header_color}}">
            <md-card-avatar>
                <img gravatar-src="gaf.owner.email" style="border-radius: 50%">
            </md-card-avatar>
            <md-card-header-text>
                <div layout="row" layout-align="center center">
                    <div>
                        <div flex class="md-title">{{gaf.owner.username || "External"}}</div>
                        <div flex class="md-subhead">{{gaf.date}}</div>
                    </div>
                    <span flex></span>
                    <div layout="column" layout-align="center center" ng-show="gaf.review_state != 0" ng-cloak>
                        <ng-md-icon icon="{{gaf.review_state | header_icon}}" "fill: white" >
                            <md-tooltip>
                                {{gaf.review_state | review_state_to_english}}
                            </md-tooltip>
                        </ng-md-icon>
                    </div>
                </div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>Gene ID</label>
                    <input disabled name="db_object_id" ng-model="gaf.db_object_id"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>Qualifier</label>
                    <input disabled name="qualifier" value="{{gaf.qualifier | qualifier_to_text}}"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>GO ID</label>
                    <input disabled ng-model="gaf.go_id"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>PMID (DB Reference)</label>
                    <input disabled name="db_reference" ng-model="gaf.db_reference"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>Evidence Code</label>
                    <input disabled name="evidence_code" ng-model="gaf.evidence_code"/>
                </md-input-container>
                <md-input-container ng-if="
                        gaf.evidence_code != 'ND'
                        && gaf.evidence_code != 'IDA'
                        && gaf.evidence_code != 'IMP'" flex>
                    <label>With/From</label>
                    <input disabled name="with_from_db" ng-model="gaf.with_or_from"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>Notes</label>
                    <textarea disabled name="notes" ng-model="gaf.notes" rows="5"></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <!--<md-button ng-click="challenge = !challenge" ng-hide="-->
                    <!--gaf.review_state != 2 ||-->
                    <!--challenge ||-->
                    <!--gaf.owner.username == current_user"-->
                    <!--class="md-primary md-raised" ng-click="challengeGaf()">-->
                    <!--Challenge this Annotation-->
                <!--</md-button>-->
                <md-button ng-click="challenge = !challenge; reveal_gaf_form()" ng-hide="
                    gaf.superseded ||
                    gaf.review_state == 0 ||
                    gaf.review_state == 1 ||
                    (gaf.review_state == 3 && gaf.challenge_gaf) ||
                    challenge"
                    class="md-primary md-raised">
                    Challenge this Annotation
                </md-button>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-gt-xs="75">
        <md-card-header style="background-color: {{gaf.review_state | header_color}}">
            <md-card-header-text>
                <div flex class="md-title">History</div>
                <div flex class="md-subhead">last updated: {{gaf.date}}</div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <!--<th md-column flex="15" style="overflow:hidden"><span>Event</th>-->
                            <!--<th md-column flex="15" style="overflow:hidden"><span>User</span></th>-->
                            <!--<th md-column flex="55" style="overflow:hidden"><span>Notes</span></th>-->
                            <!--<th md-column flex="15" style="overflow:hidden"><span>Date</span></th>-->
                            <th md-column><span>Event</th>
                            <th md-column><span>User</span></th>
                            <th md-column><span>Notes</span></th>
                            <th md-column><span>Date</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="i in event_info">

                            <td md-cell><div>{{i.event}}</div</td>
                            <td md-cell><div>{{i.user}}</div></td>
                            <td md-cell><div>{{i.notes}}</div></td>
                            <td md-cell class="row4"style="white-space: nowrap">
                                <div>
                                {{i.date}}
                                    <md-tooltip md-direction="left">
                                    {{i.date_real}}
                                    </md-tooltip>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card-content>
    </md-card>
</div>
