<style>
    md-input-container .md-input[disabled] {
        color: black;
    }
    @media only screen and (max-width: 900px) {
        md-card-avatar {
            display: none;
        }
    }
    table.md-table td.md-cell div {
        max-height: 4rem;
        overflow: auto;
    }
    table.md-table td.md-cell div img {
        max-width:100%;
        height:auto;
    }
    .cssSlideLeft.ng-hide-remove, .cssSlideUp.ng-hide-add {
        display: block !important; /* yes, important */
    }
    .cssSlideLeft {
        opacity:1;
        transition: 1s ease-in-out all;
        max-width: 500px;
        overflow: hidden;
    }
    .cssSlideLeft.ng-hide {
        opacity:0;
        max-width:0;
    }
    md-card md-card-header md-card-avatar {
        height:50px;
        width:50px;
    }
    md-card md-card-header md-card-avatar+md-card-header-text .md-title {
        max-height:100px;
        font-size:20px;
    }
    md-card md-card-header md-card-avatar+md-card-header-text {
        max-height:100px;
    }
</style>
<md-card ng-show="no_gaf == true">
    <md-card-title>
        </md-card-title-text>
            <span class="md-headline">This annotation could not be found.</span>
        </md-card-title-text>
    </md-card-title>
</md-card>
<div ng-show="gaf" layout="row" layout-xs="column" layout-align-gt-xs="center start" layout-align-xs="center center">
    <md-card flex-gt-xs="40" ng-show="challenge" class="cssSlideLeft">
        <md-card-header style="background-color: rgba(33, 150, 243, 0.33)">
            <md-card-avatar>
                <img gravatar-src="current_user.email" style="border-radius: 50%">
            </md-card-avatar>
            <md-card-header-text layout-align="center">
                <div layout="row" layout-align="center center">
                    <div flex class="md-title">{{current_user.username}}</div>
                    <span flex></span>
                    <div layout="column" layout-align="center center" ng-cloak>
                        <ng-md-icon icon="whatshot" "fill: white" >
                            <md-tooltip>Challenge</md-tooltip>
                        </ng-md-icon>
                    </div>
                </div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form name="GAFForm" ng-submit="saveData()" novalidate>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>Gene ID</label>
                        <input md-no-asterisk disabled required name="db_object_id" ng-model="gafData.db_object_id" ng-model-options="{ updateOn: blur }" ng-blur="gaf_update(gafData.db_object_id)"/>
                        <div ng-messages="GAFForm.db_object_id.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Qualifier</label>
                        <md-select name="qualifier" ng-model="gafData.qualifier" placeholder="Qualifier">
                            <md-option></md-option>
                            <md-option ng-repeat="qualifier in qualifiers" ng-value="qualifier">{{qualifier | qualifier_to_text}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>GO ID</label>
                        <input md-no-asterisk required name="go_id" minlength=4 goid-customdir ng-model="gafData.go_id" ng-model-options="{ updateOn: 'blur' }"/>
                        <div ng-messages="GAFForm.go_id.$error" md-auto-hide="false" ng-show="GAFForm.go_id.$touched">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="startwithGo">Must start with 'GO:'</div>
                            <div ng-message="minlength">This is required.</div>
                            <div ng-message="customRequired">Invalid GO ID</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>PMID (DB Reference)</label>
                        <input md-no-asterisk required name="db_reference" pmid-customdir type="number" ng-model="gafData.db_reference" ng-model-options="{ updateOn: 'blur' }"/>
                        <div ng-messages="GAFForm.db_reference.$error" md-auto-hide="false" ng-show="GAFForm.db_reference.$touched">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="pmidValid">Invalid PMID</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>Evidence Code</label>
                        <md-select md-no-asterisk name="evidence_code" ng-model="gafData.evidence_code">
                            <md-option ng-repeat="eco_code in eco_codes" ng-value="eco_code">{{eco_code}}: {{eco_code | eco_to_text}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div layout="row" layout-sm="column" ng-if="GAFForm.evidence_code.$modelValue
                                && GAFForm.evidence_code.$modelValue != 'IDA'
                                && GAFForm.evidence_code.$modelValue != 'IMP'" flex="40">
                        <md-input-container flex>
                            <label>DB</label>
                            <md-select md-no-asterisk name="with_from_db" ng-model="gafData.with_from_db" placeholder="DB" ng-required="true">
                                <md-option ng-repeat="w_f_db in with_from_db">{{w_f_db}}</md-option>
                            </md-select>
                            <div ng-messages="GAFForm.with_from_db.$error" ng-show="GAFForm.with_from_db.$invalid">
                                <div ng-message="required" ng-show="GAFForm.with_from_db.$touched">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>ID</label>
                            <input md-no-asterisk required name="with_from_id" ng-model="gafData.with_from_id"/>
                            <div ng-messages="GAFForm.with_from_id.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>Notes</label>
                        <textarea md-no-asterisk required name="notes" ng-model="gafData.notes" rows="1" md-no-autogrow></textarea>
                        <div ng-messages="GAFForm.notes.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>Challenge Comments</label>
                        <textarea md-no-asterisk required name="challenge_notes" ng-model="challenge_data.notes" rows="1" md-no-autogrow></textarea>
                        <div ng-messages="GAFForm.challenge_notes.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-button ng-disabled="GAFForm.$invalid" class="md-primary md-raised" ng-click="saveData()">Submit</md-button>
            </form>
        </md-card-content>
    </md-card>

    <md-card flex-gt-xs="25">
        <md-card-header style="background-color: {{gaf.review_state | header_color}}">
            <md-card-avatar>
                <img class="md-user-avatar" gravatar-src="gaf.owner.email">
            </md-card-avatar>

            <md-card-header-text layout-align="center">
                <div layout="row" layout-align="center center">
                    <div flex class="md-title">{{gaf.owner.username || 'External'}}</div>
                    <span flex></span>
                    <div layout="column" layout-align="center center" ng-cloak>
                        <ng-md-icon icon="{{gaf.review_state | header_icon}}" "fill: white">
                            <md-tooltip>
                                {{gaf.review_state | review_state_to_english}}
                            </md-tooltip>
                        </ng-md-icon>
                    </div>
                </div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>Gene ID</label>
                    <input disabled name="db_object_id" ng-model="gaf.db_object_id"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>Qualifier</label>
                    <input disabled name="qualifier" ng-model="gaf.show_qualifier"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>GO ID</label>
                    <input disabled ng-model="gaf.go_id"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>PMID (DB Reference)</label>
                    <input disabled name="db_reference" ng-model="gaf.db_reference"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>Evidence Code</label>
                    <input disabled name="evidence_code" ng-model="gaf.evidence_code"/>
                </md-input-container>
                <md-input-container ng-if="
                        gaf.evidence_code != 'ND'
                        && gaf.evidence_code != 'IDA'
                        && gaf.evidence_code != 'IMP'" flex>
                    <label>With/From</label>
                    <input disabled name="with_from_db" ng-model="gaf.with_or_from"/>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>Notes</label>
                    <textarea disabled name="notes" ng-model="gaf.notes"></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <!--can't challenge own gaf-->
                <md-button ng-click="reveal_gaf_form()" ng-hide="
                    gaf.owner.username == current_user.username ||
                    gaf.review_state != 2 ||
                    challenge"
                    class="md-primary md-raised">
                    Challenge this Annotation
                </md-button>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-gt-xs="75" ng-hide="challenge" class="cssSlideLeft">
        <md-card-header style="background-color: {{gaf.review_state | header_color}}">
            <md-card-header-text>
                <div flex class="md-title">History</div>
                <div flex class="md-subhead">last updated: {{gaf.date}}</div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-table-container>
                <table md-table md-progress="promise">
                    <thead md-head>
                        <tr md-row>
                            <th md-column md-order-by="event"><span>Event</th>
                            <th md-column><span></th>
                            <th md-column><span>User</span></th>
                            <th md-column><span>Notes</span></th>
                            <th md-column md-order-by="date"><span>Date</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="i in event_info | orderBy: query.order" ng-style="!i.star && {'height':'2em'}"  ng-if="$index != event_info.length-1" >
                            <td md-cell>
                                <b>{{i.star}}</b>
                            </td>
                            <td md-cell><div>{{i.event}}</div</td>
                            <td md-cell>
                                <user-icon ng-if="i.user" user="{{i.user}}"></user-icon>
                            </td>
                            <td md-cell><div>{{i.notes}}</div></td>
                            <td md-cell class="row4"style="white-space: nowrap">
                                <div ng-if="i.date">
                                {{i.date}}
                                    <md-tooltip md-direction="left">
                                    {{i.date_real}}
                                    </md-tooltip>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card-content>
    </md-card>
</div>
