<md-card>
    <md-card-title>
        <md-card-title-text>
            <span ng-show="bad_go_id" class="md-headline">{{bad_go_id}} not found</span>
            <span ng-show="goTermData.id" class="md-headline">{{goTermData.id}}</span>
            <span ng-show="goTermData.name" class="md-subhead" style="color:#666">{{goTermData.name}}</span>
            <span ng-show="goTermData.def" class="md-subhead" style="color:#666">definition: {{goTermData.def}}</span>
            <span ng-show="goTermData.db_xref.PMID" class="md-subhead" style="color:#666">
                <span  ng-repeat="pmid in goTermData.db_xref.PMID">
                    <md-button class="md-raised md-accent" href="#/pmid/{{pmid}}" TARGET="_blank">PMID:{{pmid}}</md-button>
                </span>
            </span>
        </md-card-title-text>
        <md-card-title-media ng-show="goTermData.def" style="overflow:hidden" ng-cloak>
            <div class="md-media-lg">
                <md-button aria-label="GO chart" ng-click="picture_popup()">
                    <img ng-src="{{ goTermData.id | goChartUrl }}">
                </md-button>
            </div>
        </md-card-title-media>
    </md-card-title>
</md-card>
<md-card ng-show="goTermData">
    <md-card-title>
        <md-card-title-text>
            <span ng-show="prev_annotations.length" class="md-headline">Annotations submitted with {{goTermData.id}}</span>
            <span ng-show="!prev_annotations.length" class="md-headline">No Annotations have been submitted with {{goTermData.id}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="prev_annotations.length">
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="ordering" md-on-reorder="updateData">
                    <tr md-row>
                        <th md-column md-order-by="gene__db_object_id"><span>Gene ID</span></th>
                        <th md-column md-order-by="gene__db_object_symbol"><span>Name</span></th>
                        <th md-column md-order-by="db_reference"><span>Reference</span></th>
                        <th md-column md-order-by="evidence_code"><span>Evidence Code</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="d in prev_annotations">
                        <td md-cell>{{d.gene.db_object_id}}</td>
                        <td md-cell>{{d.db_object_name}}</td>
                        <td md-cell>{{d.db_reference}}</td>
                        <td md-cell>
                            <span>
                                {{ d.evidence_code }}
                                <md-tooltip md-direction="bottom">
                                    {{d.evidence_code | eco_to_text}}
                                </md-tooltip>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{prev_annotations.meta.count}}"
            md-page-select="options.pageSelect"
            md-on-paginate="updateData">
        </md-table-pagination>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="go_term_pic">
    <md-dialog>
        <md-card style="margin:0">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-headline">{{goTermData.id}}</span>
                    <span flex></span>
                    <md-button ng-click="cancel()" aria-label="close" class="md-icon-button">
                        <ng-md-icon icon="close" "fill: white" ></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content>
                <div class="md-media-lg">
                    <img ng-src="{{ goTermData.id | goChartUrl }}">
                </div>
            </md-card-content>
        </md-card>
    </md-dialog>
  </div>
</div>
