<!--<div class="container-fluid"  layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>-->
    <!--<md-card flex="20" ng-repeat="homeItem in home" class="homeItem" style="padding:0px">-->
        <!--<md-toolbar class="md-accent">-->
            <!--<div class="md-toolbar-tools">-->
                <!--{{ homeItem.title }}-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <!--<md-card-content>-->
            <!--{{ homeItem.description }}-->
            <!--<br/>-->
            <!--<md-button class="md-primary md-raised" ng-href="{{ homeItem.url }}">-->
                <!--{{ homeItem.button_title || "Go" }}-->
            <!--</md-button>-->
        <!--</md-card-content>-->
    <!--</md-card>-->
<!--</div>-->

<div>
    <md-card flex="30" style="padding:0px">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Spring 2016 Competition
            </div>
        </md-toolbar>
        <md-card-content>
            {{ homeItem.description }}
            <br/>
            <md-button class="md-primary md-raised" ng-href="{{ homeItem.url }}">
                {{ homeItem.button_title || "Go" }}
            </md-button>
        </md-card-content>
    </md-card>
</div>
