<md-card>
    <md-card-title>
        <md-card-title-text>
            <span ng-show="bad_pmid" class="md-headline">{{bad_pmid}} not found</span>
            <span ng-show="pubmedData.pmid" class="md-headline">PMID:{{pubmedData.pmid}}</span>
            <span class="md-subhead">
                <span ng-show="pubmedData.author"><b>{{pubmedData.author}}.</b></span>
                <span ng-show="pubmedData.pub_year">{{pubmedData.pub_year}}.</span>
                <span ng-show="pubmedData.title">{{pubmedData.title}}.</span>
                <span ng-show="pubmedData.journal">{{pubmedData.journal}}</span>
                <span ng-show="pubmedData.volume && !pubmedData.pages"><b>{{pubmedData.volume}}.</b></span>
                <span ng-show="pubmedData.pages"><b>{{pubmedData.volume}}:</b></span><!--
                --><span ng-show="pubmedData.pages">{{pubmedData.pages}}.</span>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="pubmedData">
        <p ng-show="pubmedData.abstract">{{pubmedData.abstract}}</p>
        <md-button class="md-raised md-accent" href="http://www.ncbi.nlm.nih.gov/pubmed/{{pubmedData.pmid}}" TARGET="_blank">PubMed</md-button>
        <md-button ng-show="pubmedData.pmc" class="md-raised md-accent" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC{{pubmedData.pmc}}" TARGET="_blank">PMC</md-button>
    </md-card-content>
</md-card>
<md-card ng-show="pubmedData">
    <md-card-title>
        <md-card-title-text>
            <span ng-show="prev_annotations.length" class="md-headline">GAFs submitted with PMID:{{pubmedData.pmid}}</span>
            <span ng-show="!prev_annotations.length" class="md-headline">No GAFs have been submitted with PMID:{{pubmedData.pmid}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="prev_annotations.length">
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="ordering" md-on-reorder="updateData">
                    <tr md-row>
                        <th md-column md-order-by="db_object_id"><span>Gene ID</span></th>
                        <th md-column md-order-by="db_object_symbol"><span>Name</span></th>
                        <th md-column md-order-by="go_id"><span>GO ID</span></th>
                        <th md-column md-order-by="evidence_code"><span>Evidence Code</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="d in prev_annotations">
                        <td md-cell>{{d.db_object_id}}</td>
                        <td md-cell>{{d.db_object_name}}</td>
                        <td md-cell>{{d.go_id}}</td>
                        <td md-cell>
                            <span>
                                {{ d.evidence_code }}
                                <md-tooltip md-direction="bottom">
                                    {{d.evidence_code | eco_to_text}}
                                </md-tooltip>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{prev_annotations.meta.count}}"
            md-page-select="options.pageSelect"
            md-on-paginate="updateData">
        </md-table-pagination>
    </md-card-content>
</md-card>
