<style>

    md-card md-card-header md-card-avatar+md-card-header-text {
        max-height:100px;
    }
    .cssSlideUp.ng-hide-remove, .cssSlideUp.ng-hide-add {
        display: block !important; /* yes, important */
    }
    .cssSlideUp {
        opacity:1;
        transition: 1s ease-in-out all;
        max-height: 500px;
        overflow: hidden;
    }
    .cssSlideUp.ng-hide {
        opacity:0;
        max-height:0;
    }
    md-toolbar.md-table-toolbar.alternate {
      color: #1e88e5;
      background-color: #e3f2fd;
    }
    textarea.md-input.gafs {
        max-height:30px;
    }
    textarea.md-input {
        overflow:auto;
    }
    md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
      font-size: 16px;
    }
    md-input-container .md-input[disabled] {
        color: black;
    }
    md-checkbox.md-checked ._md-icon {
        background-color: #69c552;
    }
    ._md-icon {
        border-color: #f44336 !important;
    }
    md-card md-card-header md-card-avatar {
        height:50px;
        width:50px;
    }
    md-card md-card-header md-card-avatar+md-card-header-text .md-title {
        font-size:20px;
    }
    @media only screen and (max-width: 660px) {
        md-card-avatar {
            display: none;
        }
    }

    .cssSlideLeft.ng-hide-remove, .cssSlideUp.ng-hide-add {
        display: block !important; /* yes, important */
    }
    .cssSlideLeft {
        opacity:1;
        transition: 1s ease-in-out all;
        max-width: 500px;
        overflow: hidden;
    }
    .cssSlideLeft.ng-hide {
        opacity:0;
        max-width:0;
    }
</style>

<md-card ng-hide="remaining != false" ng-hide>
    <md-card-title>
        </md-card-title-text>
            <span class="md-headline">There are no Annotations to review at this time.</span>
        </md-card-title-text>
    </md-card-title>
</md-card>
<div ng-if="original_gaf.show && original_gaf.show != true" ng-hide="remaining == false" layout="row" layout-align="center start">
    <div flex-gt-sm="30">
        <md-card>
            <md-card-header style="background-color:{{(current_gaf[0] | anyFlagged) ? 'rgba(244, 67, 54, 0.38)' : 'rgba(105, 197, 82, 0.18)'}};">
                <md-card-avatar>
                    <img gravatar-src="current_gaf[0].owner.email" style="border-radius: 50%">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{current_gaf[0].owner.username}}</span>
                    <span flex class="md-subhead">{{current_gaf[0].date}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div layout="row">
                    <md-input-container flex>
                        <label>Gene ID</label>
                        <input disabled name="db_object_id" ng-model="current_gaf[0].db_object_id"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Protein'" ng-true-value="null" ng-model="current_gaf[0].flagged.protein" aria-label="Gene ID Checkbox"></md-checkbox>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Qualifier</label>
                        <input disabled name="qualifier" value="{{current_gaf[0].qualifier | qualifier_to_text}}"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Qualifier'" ng-true-value="null" ng-model="current_gaf[0].flagged.qualifier" aria-label="Qualifier Checkbox"></md-checkbox>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>GO ID</label>
                        <input disabled ng-model="current_gaf[0].go_id"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'GO Term'" ng-true-value="null" ng-model="current_gaf[0].flagged.go_id" aria-label="GO ID Checkbox"></md-checkbox>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>PMID (DB Reference)</label>
                        <input disabled name="db_reference" ng-model="current_gaf[0].show_db_reference"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Publication'" ng-true-value="null" ng-model="current_gaf[0].flagged.publication" aria-label="PMID Checkbox"></md-checkbox>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Evidence Code</label>
                        <input disabled name="evidence_code" ng-model="current_gaf[0].evidence_code"/>
                    </md-input-container>
                    <md-input-container ng-if="
                            current_gaf[0].evidence_code != 'IDA'
                            && current_gaf[0].evidence_code != 'IMP'" flex>
                        <label>With/From</label>
                        <input disabled name="with_from_db" ng-model="current_gaf[0].with_or_from"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Evidence Code'" ng-true-value="null" ng-model="current_gaf[0].flagged.evidence" aria-label="Evidence Code Checkbox"></md-checkbox>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Notes</label>
                        <textarea class="gafs" disabled name="notes" ng-model="current_gaf[0].notes"></textarea>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Notes'" ng-true-value="null" ng-model="current_gaf[0].flagged.notes" aria-label="Notes Checkbox"></md-checkbox>
                </div>
            </md-card-content>
        </md-card>

        <md-card>
            <!--<md-card-header>-->
            <md-card-header style="background-color:{{(current_gaf[0] | anyFlagged) ? 'rgba(244, 67, 54, 0.38)' : 'rgba(105, 197, 82, 0.18)'}};">
                <md-card-header-text ng-hide="current_gaf[0] | anyFlagged">
                    <div layout="row" layout-align-sm="start center">
                        <div>
                            <div flex class="md-title">Good Annotation</div>
                            <div flex class="md-subhead">Click submit to approve</div>
                        </div>
                        <span flex></span>
                        <div>
                            <md-button class="md-primary md-raised" ng-click="submit_assessment_no_challenge(current_gaf[0], 2)">Submit</md-button>
                        </div>
                    </div>
                </md-card-header-text>
                <md-card-header-text ng-hide="!(current_gaf[0] | anyFlagged)">
                    <div layout="row" layout-align-sm="start center">
                        <div flex="60" layout="column">
                            <div flex class="md-title">Bad Annotation</div>
                            <div flex class="md-subhead">Comment below</div>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <div class="cssSlideUp" ng-hide="!(current_gaf[0] | anyFlagged)">
                <md-content class="md-padding">
                    <form name="assessmentForm">
                        <div layout="row" layout-sm="column">
                            <md-input-container flex>
                                <label>Review Comments</label>
                                <textarea required name="notes" ng-model="current_gaf[0].assessment_notes" rows="5"></textarea>
                                <div ng-messages="assessmentForm.notes.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-button ng-disabled="assessmentForm.$invalid" class="md-primary md-raised" ng-click="submit_assessment_no_challenge(current_gaf[0], 3)">Submit</md-button>
                    </form>
                </md-content>
            </div>
        </md-card>
    </div>
</div>

<div ng-if="original_gaf.show" ng-hide="remaining == false" ng-cloak>
    <div layout="row" layout-align="center" layout-xs="column">
        <div flex-gt-sm="30">
            <div layout="column">
                <md-card>
                    <md-card-header style="background-color:{{(current_gaf | challenge_flagged) == 0 ? 'rgba(105, 197, 82, 0.18)' : 'rgba(244, 67, 54, 0.38)'}};">
                    <!--<md-card-header>-->
                        <md-card-header-text>
                            <span class="md-title">{{original_gaf.db_object_id}}</span>
                            <span flex class="md-subhead">Original Annotation</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout="row">
                            <md-input-container flex>
                                <label>Qualifier</label>
                                <input disabled name="qualifier" value="{{original_gaf.qualifier | qualifier_to_text}}"/>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>GO ID</label>
                                <input disabled ng-model="original_gaf.go_id"/>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>PMID (DB Reference)</label>
                                <input disabled name="db_reference" ng-model="original_gaf.show_db_reference"/>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>Evidence Code</label>
                                <input disabled name="evidence_code" ng-model="original_gaf.evidence_code"/>
                            </md-input-container>
                            <md-input-container ng-if="
                                    original_gaf.evidence_code != 'ND'
                                    && original_gaf.evidence_code != 'IDA'
                                    && original_gaf.evidence_code != 'IMP'" flex>
                                <label>With/From</label>
                                <input disabled name="with_from_db" ng-model="original_gaf.with_or_from"/>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Notes</label>
                                <textarea class="gafs" disabled name="notes" ng-model="original_gaf.notes"></textarea>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-button ng-disabled="((current_gaf | challenge_flagged) > 1) || forms.challengeNotesForm.$invalid" class="md-primary md-raised" ng-click="submit_challenge_assessment()">
                    Submit Challenge Asssessment
                </md-button>
            </div>
        </div>

        <div flex-gt-sm="{{current_gaf.length > 1 ? 60 : 30}}">
            <div layout="column">
                <form name="forms.challengeNotesForm" layout="row" layout-xs="column">
                    <div ng-repeat="c_gaf in current_gaf" flex>
                        <md-card>
                            <!--<md-card-header style="background-color:{{(c_gaf | anyFlagged) ? 'rgba(244, 67, 54, 0.38)' : 'rgba(105, 197, 82, 0.18)'}};">-->
                            <md-card-header>
                                <md-card-header-text>
                                    <div layout="row" layout-align="center center">
                                        <div>
                                            <div flex class="md-title">{{original_gaf.db_object_id}}</div>
                                            <div flex class="md-subhead">Challenge {{$index + 1}} of {{current_gaf.length}}</div>
                                        </div>
                                        <span flex></span>
                                        <div layout="column" layout-align="center center" ng-cloak>
                                            <ng-md-icon icon="whatshot" "fill: white" >
                                                <md-tooltip>Challenge</md-tooltip>
                                            </ng-md-icon>
                                        </div>
                                    </div>
                                    <!--<span class="md-title">{{c_gaf.owner.username}}</span>-->
                                    <!--<span flex class="md-subhead">{{c_gaf.date}}</span>-->
                                    <!--<span flex></span>-->
                                    <!--<div layout="column" layout-align="center center" ng-show="gaf.review_state != 0" ng-cloak>-->
                                        <!--<ng-md-icon icon="{{gaf.review_state | header_icon}}" "fill: white" >-->
                                            <!--<md-tooltip>-->
                                                <!--{{gaf.review_state | review_state_to_english}}-->
                                            <!--</md-tooltip>-->
                                        <!--</ng-md-icon>-->
                                    <!--</div>-->
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Qualifier</label>
                                        <input disabled name="qualifier" value="{{c_gaf.qualifier | qualifier_to_text}}"/>
                                    </md-input-container>
                                    <md-checkbox ng-false-value="'Qualifier'" ng-true-value="null" ng-model="c_gaf.flagged.qualifier" aria-label="Qualifier Checkbox"></md-checkbox>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>GO ID</label>
                                        <input disabled ng-model="c_gaf.go_id"/>
                                    </md-input-container>
                                    <md-checkbox ng-false-value="'GO Term'" ng-true-value="null" ng-model="c_gaf.flagged.go_id" aria-label="GO ID Checkbox"></md-checkbox>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>PMID (DB Reference)</label>
                                        <input disabled name="db_reference" ng-model="c_gaf.show_db_reference"/>
                                    </md-input-container>
                                    <md-checkbox ng-false-value="'Publication'" ng-true-value="null" ng-model="c_gaf.flagged.publication" aria-label="PMID Checkbox"></md-checkbox>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Evidence Code</label>
                                        <input disabled name="evidence_code" ng-model="c_gaf.evidence_code"/>
                                    </md-input-container>
                                    <md-input-container ng-if="
                                            c_gaf.evidence_code != 'IDA'
                                            && c_gaf.evidence_code != 'IMP'" flex>
                                        <label>With/From</label>
                                        <input disabled name="with_from_db" ng-model="c_gaf.with_or_from"/>
                                    </md-input-container>
                                    <md-checkbox ng-false-value="'Evidence Code'" ng-true-value="null" ng-model="c_gaf.flagged.evidence" aria-label="Evidence Code Checkbox"></md-checkbox>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>Notes</label>
                                        <textarea class="gafs" disabled name="notes" ng-model="c_gaf.notes"></textarea>
                                    </md-input-container>
                                    <md-checkbox ng-false-value="'Notes'" ng-true-value="null" ng-model="c_gaf.flagged.notes" aria-label="Notes Checkbox"></md-checkbox>
                                </div>
                            </md-card-content>
                        </md-card>

                        <md-card>
                            <!--<md-card-header>-->
                            <md-card-header style="background-color:{{(c_gaf | anyFlagged) ? 'rgba(244, 67, 54, 0.38)' : 'rgba(105, 197, 82, 0.18)'}};">
                                <!--<md-card-header-text ng-hide="c_gaf | anyFlagged">-->
                                <md-card-header-text>
                                    <div layout="row" layout-align-sm="start center">
                                        <div ng-if="!(c_gaf | anyFlagged)">
                                            <div flex class="md-title">Good Annotation</div>
                                            <div flex class="md-subhead">Click submit to approve</div>
                                        </div>
                                        <div ng-if="c_gaf | anyFlagged">
                                            <div flex class="md-title">Bad Annotation</div>
                                            <div flex class="md-subhead">Comment below</div>
                                        </div>
                                    </div>
                                </md-card-header-text>
                            </md-card-header>
                            <div class="cssSlideUp" ng-hide="!(c_gaf | anyFlagged)">
                                <md-content class="md-padding">
                                    <!--<ng-form name="challengeNotes">-->
                                        <div layout="row" layout-sm="column">
                                            <md-input-container flex>
                                                <label>Review Comments</label>
                                                <textarea ng-required="c_gaf | anyFlagged" name="notes{{$index}}" ng-model="c_gaf.assessment_notes"></textarea>
                                                <div ng-messages="forms.challengeNotes['notes'+$index].$error">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    <!--</ng-form>-->
                                </md-content>
                            </div>
                        </md-card>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
