<style>
    .cssSlideUp.ng-hide-remove, .cssSlideUp.ng-hide-add {
        display: block !important; /* yes, important */
    }
    .cssSlideUp {
        opacity:1;
        transition: 1s ease-in-out all;
        max-height: 500px;
        overflow: hidden;
    }
    .cssSlideUp.ng-hide {
        opacity:0;
        max-height:0;
    }
    md-toolbar.md-table-toolbar.alternate {
      color: #1e88e5;
      background-color: #e3f2fd;
    }

    md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
      font-size: 16px;
    }
    md-input-container .md-input[disabled] {
        color: black;
    }
    md-input-container textarea[md-no-autogrow].md-input {
        height: inherit;
        overflow-y: auto;
    }
    md-checkbox.md-checked .md-icon {
        background-color: #69c552;
    }
    .md-icon {
        border-color: #f44336 !important;
    }
    md-card md-card-header md-card-avatar {
        height:50px;
        width:50px;
    }
    md-card md-card-header md-card-avatar+md-card-header-text .md-title {
        font-size:20px;
    }
    @media only screen and (max-width: 660px) {
        md-card-avatar {
            display: none;
        }
    }
</style>

<md-card>
    <md-card-title>
        </md-card-title-text>
            <span ng-show="num_left" class="md-headline">You have {{num_left}} annotation{{plural()}} left to review!</span>
            <span ng-show="!num_left" class="md-headline">There are no Annotations to review at this time.</span>
        </md-card-title-text>
    </md-card-title>
</md-card>
<div layout="row" layout-align="center">
    <md-card ng-show="num_left" flex="30">
        <md-card-header style="background-color:{{!anyFlagged() ? 'rgba(105, 197, 82, 0.18)' : 'rgba(244, 67, 54, 0.38)'}};">
            <md-card-avatar>
                <img gravatar-src="current_gaf.owner.email" style="border-radius: 50%">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{current_gaf.owner.username}}</span>
                <span flex class="md-subhead">{{current_gaf.date}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form name="prev_gaf_form">
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>Gene ID</label>
                        <input disabled name="db_object_id" ng-model="current_gaf.db_object_id"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Protein'" ng-true-value="null" ng-model="flagged.protein" ng-click="checked()" aria-label="Gene ID Checkbox"></md-checkbox>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>Qualifier</label>
                        <input disabled name="qualifier" value="{{current_gaf.qualifier | qualifier_to_text}}"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Qualifier'" ng-true-value="null" ng-model="flagged.qualifier" aria-label="Qualifier Checkbox"></md-checkbox>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>GO ID</label>
                        <input disabled ng-model="current_gaf.go_id"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'GO Term'" ng-true-value="null" ng-model="flagged.go_id" aria-label="GO ID Checkbox"></md-checkbox>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>PMID (DB Reference)</label>
                        <input disabled name="db_reference" ng-model="current_gaf.show_db_reference"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Publication'" ng-true-value="null" ng-model="flagged.publication" aria-label="PMID Checkbox"></md-checkbox>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>Evidence Code</label>
                        <input disabled name="evidence_code" ng-model="current_gaf.evidence_code"/>
                    </md-input-container>
                    <md-input-container ng-if="
                            current_gaf.evidence_code != 'IDA'
                            && current_gaf.evidence_code != 'IMP'" flex>
                        <label>With/From</label>
                        <input disabled name="with_from_db" ng-model="current_gaf.with_or_from"/>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Evidence Code'" ng-true-value="null" ng-model="flagged.evidence" aria-label="Evidence Code Checkbox"></md-checkbox>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>Notes</label>
                        <textarea disabled name="notes" ng-model="current_gaf.notes" rows="5"></textarea>
                    </md-input-container>
                    <md-checkbox ng-false-value="'Notes'" ng-true-value="null" ng-model="flagged.notes" aria-label="Notes Checkbox"></md-checkbox>
                </div>
            </form>
        </md-card-content>
    </md-card>

    <div flex="70">
        <md-card ng-show="num_left">
            <md-card-header style="background-color:{{!anyFlagged() ? 'rgba(105, 197, 82, 0.18)' : 'rgba(244, 67, 54, 0.38)'}};">
                <md-card-header-text ng-hide="anyFlagged()">
                    <div layout="row" layout-align-sm="start center">
                        <div>
                            <div flex class="md-title">Good Annotation</div>
                            <div flex class="md-subhead">Click submit to approve</div>
                        </div>
                        <span flex></span>
                        <div>
                            <md-button class="md-primary md-raised" ng-click="test()">Submit</md-button>
                        </div>
                    </div>
                </md-card-header-text>
                <md-card-header-text ng-hide="!anyFlagged()">
                    <div layout="row" layout-align-sm="start center">
                        <div flex="60" layout="column">
                            <div flex class="md-title">Bad Annotation</div>
                            <div flex class="md-subhead">Comment below</div>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <div class="cssSlideUp" ng-hide="!anyFlagged()">
                <md-content class="md-padding">
                    <form name="assessmentForm">
                        <div layout="row" layout-sm="column">
                            <md-input-container flex>
                                <label>Review Comments</label>
                                <textarea required name="notes" ng-model="assessment.notes" rows="5" md-no-autogrow></textarea>
                                <div ng-messages="assessmentForm.notes.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-button ng-disabled="assessmentForm.$invalid" class="md-primary md-raised" ng-click="put_gaf(3)">Submit</md-button>
                    </form>
                </md-content>
            </div>
        </md-card>
    </div>
</div>
