<style>
    tbody .md-row:hover {
        background-color: #fafafa;
    }
    tbody .md-row:focus {
        outline:none;
    }
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
</style>
<div class="container-fluid" layout="row" layout-align="center" layout-padding>
    <md-content class="md-whiteframe-2dp">
        <md-input-container md-no-float>
            <ng-md-icon icon="search"></ng-md-icon>
            <input ng-model="search_input"  placeholder="Search" ng-blur="updateData(search_input)">
        </md-input-container>
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="ordering" md-on-reorder="updateData">
                    <tr md-row>
                        <th md-column md-order-by="start"><span>Gene name</span></th>
                        <th md-column><span>Reference Sequence</span></th>
                        <th md-column><span>Organism</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="gene in genes" ng-click="create_gaf(gene)">
                        <td md-cell>{{gene.db_object_id}}</td>
                        <td md-cell>{{gene.refseq.name}}</td>
                        <td md-cell>{{gene.refseq.organism.common_name}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{genes.meta.count}}"
            md-page-select="options.pageSelect"
            md-on-paginate="updateData">
        </md-table-pagination>
    <md-content>
</div>
