<!doctype html>
<html lang="en" ng-app="cacaoApp">
<head>
    <meta charset="utf-8">
    <title>Cacao</title>
    <link rel="stylesheet" type="text/css" href="build/main.css"/>

    <style>
    </style>
</head>
<body>
    <div ng-controller="NavCtrl" layout="column" style="height:500px" ng-cloak>
        <md-toolbar id="navbar" class="md-whiteframe-2dp">
            <div class="md-toolbar-tools">
                <h2>
                    <span class="md-title"><a href="#/">CACAO</a></span>
                </h2>
                <span flex></span>
                <md-button ng-init="get_notifications()" ng-if="nav.userData.email" aria-label="show notifications" class="md-icon-button" ng-click="go('/notifications')">
                    <ng-md-icon icon="{{nav.notifications ? 'notifications_active':'notifications'}}"></ng-md-icon>
                </md-button>
                <script type="text/ng-template" id="popover">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <div layout="column" flex>
                            <md-button aria-label="My Profile" ng-click="go('/users/'); hidePopover()" class="md-raised md-secondary">
                                My Profile
                            </md-button>
                            <md-button aria-label="My Team" ng-click="go('/teams/'); hidePopover()" class="md-raised md-secondary">
                                My Team
                            </md-button>
                            <md-button aria-label="Logout" ng-click="go('/logout'); hidePopover()" class="md-raised md-secondary">
                                Logout
                            </md-button>
                        </div>
                    </div>
                </script>
                <md-button aria-label="User menu" ng-if="nav.userData.email" class="md-icon-button" style="padding:0;">
                    <img ns-popover
                      ns-popover-theme="ns-popover-tooltip-theme"
                      ns-popover-template="popover"
                      ns-popover-trigger="click"
                      ns-popover-placement="bottom|right"
                      ng-if="nav.userData.email" gravatar-src="nav.userData.email" style="width:100%; border-radius: 50%">
                </md-button>
                <md-button aria-label="Login" ng-if="!nav.userData.email" ng-click="go('/login')" class="md-primary md-raised">
                    Login
                </md-button>
            </div>
        </md-toolbar>
        <div class="view-container">
            <div ng-view class="view-frame"></div>
        </div>
    </div>
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
</body>
</html>
