<div class="col-sm-6">
    <style>
        table > tbody > tr:nth-child(odd) > td {
            background-color: #eee;
        }
    </style>
    <md-content class="md-padding">
    <div class="md-display-1">Create CACAO Annotation</div>
        <div layout="row">
            <div class="col" flex="50">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">GAF Form</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <form name="GAFForm" ng-submit="saveData()" novalidate>
                            <div layout="row" layout-sm="column">
                                <md-input-container flex>
                                    <label>Gene ID</label>
                                    <input required name="db_object_id" ng-model="gafData.db_object_id"/>
                                    <div ng-messages="GAFForm.db_object_id.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <md-select name="qualifier" ng-model="gafData.qualifier" placeholder="Qualifier" ng-required="true">
                                        <md-option ng-repeat="qualifier in qualifiers">{{qualifier}}</md-option>
                                    </md-select>
                                    <div ng-messages="GAFForm.qualifier.$error" ng-show="GAFForm.qualifier.$invalid">
                                        <div ng-message="required" ng-show="GAFForm.qualifier.$touched">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                                <!--<label>DB</label>-->
                                <!--<input required name="db" ng-model="gafData.db" ng-disabled="true"/>-->
                                <!--<div ng-messages="GAFForm.db.$error">-->
                                    <!--<div ng-message="required">This is required.</div>-->
                                <!--</div>-->
                            <!--</md-input-container>-->
                            <div layout="row" layout-sm="column">
                                <md-input-container class="md-block" flex>
                                    <label>GO ID</label>
                                    <input name="go_id" minlength=4 goid-customdir ng-model="gafData.go_id" ng-model-options="{ updateOn: 'blur' }"/>
                                    <div ng-messages="GAFForm.go_id.$error" md-auto-hide="false" ng-show="GAFForm.go_id.$touched">
                                        <div ng-message="minlength">This is required.</div>
                                        <div ng-message="customRequired">Invalid GO ID</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>PMID (DB Reference)</label>
                                    <input required name="db_reference" type="number" ng-model="gafData.db_reference" ng-blur="try_db_ref()"/>
                                    <div ng-messages="GAFForm.db_reference.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-sm="column">
                                <md-input-container flex>
                                    <md-select name="evidence_code" ng-model="gafData.evidence_code" placeholder="Evidence Code" ng-required="true">
                                        <md-option ng-repeat="eco_code in eco_codes">{{eco_code}}</md-option>
                                    </md-select>
                                    <div ng-messages="GAFForm.evidence_code.$error" ng-show="GAFForm.evidence_code.$invalid">
                                        <div ng-message="required" ng-show="GAFForm.evidence_code.$touched">This is required.</div>
                                    </div>
                                    </md-input-container>
                                <div layout="row" layout-sm="column" ng-if="GAFForm.evidence_code.$modelValue
                                            && GAFForm.evidence_code.$modelValue != 'IDA: Inferred from Direct Assay'
                                            && GAFForm.evidence_code.$modelValue != 'IMP: Inferred from Mutant Phenotype'" flex="40">
                                    <md-input-container flex>
                                        <md-select name="with_from_db" ng-model="gafData.with_from_db" placeholder="DB" ng-required="true">
                                            <md-option ng-repeat="w_f_db in with_from_db">{{w_f_db}}</md-option>
                                        </md-select>
                                        <div ng-messages="GAFForm.with_from_db.$error" ng-show="GAFForm.with_from_db.$invalid">
                                            <div ng-message="required" ng-show="GAFForm.with_from_db.$touched">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>ID</label>
                                        <input required name="with_from_id" ng-model="gafData.with_from_id"/>
                                        <div ng-messages="GAFForm.with_from_id.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <!-- Need to conditionally display/hide these. not sure of rules -->
                            <!--
                            <md-input-container class="md-block">
                                <label>With (or) From</label>
                                <input required name="with_or_from" ng-model="gafData.with_or_from" />
                                <div ng-messages="with_or_from.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Aspect</label>
                                <input required name="aspect" ng-model="gafData.aspect" />
                                <div ng-messages="aspect.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            -->
                            <!--
                            <md-input-container class="md-block">
                                <label>DB Object Name</label>
                                <input required name="db_object_name" ng-model="gafData.db_object_name" />
                                <div ng-messages="db_object_name.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>DB Object Synonym</label>
                                <input required name="db_object_synonym" ng-model="gafData.db_object_synonym" />
                                <div ng-messages="db_object_synonym.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>DB Object Type</label>
                                <input required name="db_object_type" ng-model="gafData.db_object_type" />
                                <div ng-messages="db_object_type.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Taxon</label>
                                <input required name="taxon" ng-model="gafData.taxon" />
                                <div ng-messages="taxon.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Date</label>
                                <input required name="date" ng-model="gafData.date" />
                                <div ng-messages="date.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Assigned By</label>
                                <input required name="assigned_by" ng-model="gafData.assigned_by" />
                                <div ng-messages="assigned_by.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Annotation Extension</label>
                                <input required name="annotation_extension" ng-model="gafData.annotation_extension" />
                                <div ng-messages="annotation_extension.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Gene Product ID</label>
                                <input required name="gene_product_id" ng-model="gafData.gene_product_id" />
                                <div ng-messages="gene_product_id.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            -->
                            <div layout="row" layout-sm="column">
                                <md-input-container class="md-block" flex>
                                    <label>Notes</label>
                                    <textarea required name="notes" ng-model="gafData.notes" rows="5"></textarea>
                                    <div ng-messages="GAFForm.notes.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-button ng-disabled="GAFForm.$invalid" class="md-primary md-raised" ng-click="saveData()">Submit</md-button>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col" flex="60">
                <md-card ng-model="pubmedData" data-ng-show="pubmedData || bad_pmid">
                    <md-card-title>
                        <md-card-title-text>
                            <span data-ng-show="bad_pmid" class="md-headline">{{bad_pmid}} not found</span>
                            <span data-ng-show="pubmedData.pmid" class="md-headline">PMID: {{pubmedData.pmid}}</span>
                            <span class="md-subhead">
                                <span data=ng-show="pubmedData.author"><b>{{pubmedData.author}}.</b></span>
                                <span data-ng-show="pubmedData.pub_year">{{pubmedData.pub_year}}.</span>
                                <span data-ng-show="pubmedData.title">{{pubmedData.title}}.</span>
                                <span data-ng-show="pubmedData.journal">{{pubmedData.journal}}</span>
                                <span data-ng-show="pubmedData.volume && !pubmedData.pages"><b>{{pubmedData.volume}}.</b></span>
                                <span data-ng-show="pubmedData.pages"><b>{{pubmedData.volume}}:</b></span><!--
                                --><span data-ng-show="pubmedData.pages">{{pubmedData.pages}}.</span>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content data-ng-show="pubmedData">
                        <p data-ng-show="pubmedData.abstract">{{pubmedData.abstract}}</p>
                        <md-button class="md-raised md-accent" href="http://www.ncbi.nlm.nih.gov/pubmed/{{pubmedData.pmid}}" TARGET="_blank">PubMed</md-button>
                        <md-button data-ng-show="pubmedData.pmc" class="md-raised md-accent" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC{{pubmedData.pmc}}" TARGET="_blank">PMC</md-button>
                    </md-card-content>
                </md-card>
                <md-card data-ng-show="goTermData || bad_go_id">
                    <md-card-title>
                        <md-card-title-text>
                            <span data-ng-show="bad_go_id" class="md-headline">{{bad_go_id}} not found</span>
                            <span data-ng-show="goTermData.id" class="md-headline">{{goTermData.id}}</span>
                            <span data-ng-show="goTermData.name" class="md-subhead" style="color:#666">{{goTermData.name}}</span>
                            <span data-ng-show="goTermData.def" class="md-subhead" style="color:#666">definition: {{goTermData.def}}</span>
                            <span data-ng-show="goTermData.db_xref.PMID" class="md-subhead" style="color:#666">
                                <span  ng-repeat="pmid in goTermData.db_xref.PMID">
                                    <md-button class="md-raised md-accent" href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}" TARGET="_blank">PMID:{{pmid}}</md-button>
                                </span>
                            </span>
                        </md-card-title-text>
                        <md-card-title-media data-ng-show="goTermData.def" style="overflow:hidden">
                            <div class="md-media-lg">
                                <a href="http://amigo.geneontology.org/visualize?mode=quickgo&beta=0&inline=false&term={{goTermData.id}}" data-lightbox="image-1" data-title="My caption">
                                    <img src="http://amigo.geneontology.org/visualize?mode=quickgo&beta=0&inline=false&term={{goTermData.id}}" />
                                </a>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                </md-card>
            </div>

        </div>
    </md-content>
</div>
