<md-card>
    <md-card-title>
        <md-card-title-text>
            <span ng-show="bad_go_id" class="md-headline">{{bad_go_id}} not found</span>
            <span ng-show="goTermData.id" class="md-headline">{{goTermData.id}}</span>
            <span ng-show="goTermData.name" class="md-subhead" style="color:#666">{{goTermData.name}}</span>
            <span ng-show="goTermData.def" class="md-subhead" style="color:#666">definition: {{goTermData.def}}</span>
            <span ng-show="goTermData.db_xref.PMID" class="md-subhead" style="color:#666">
                <span  ng-repeat="pmid in goTermData.db_xref.PMID">
                    <md-button class="md-raised md-accent" href="#/pmid/{{pmid}}" TARGET="_blank">PMID:{{pmid}}</md-button>
                </span>
            </span>
        </md-card-title-text>
        <md-card-title-media ng-show="goTermData.def" style="overflow:hidden">
            <div class="md-media-lg">
                <a href="http://amigo.geneontology.org/visualize?mode=quickgo&beta=0&inline=false&term={{goTermData.id}}" data-lightbox="image-1" data-title="{{goTermData.id}}">
                    <img src="http://amigo.geneontology.org/visualize?mode=quickgo&beta=0&inline=false&term={{goTermData.id}}" />
                </a>
            </div>
        </md-card-title-media>
    </md-card-title>
</md-card>
<md-card ng-show="goTermData">
    <md-card-title>
        <md-card-title-text>
            <span ng-show="prev_annotations.length" class="md-headline">GAFs submitted with {{goTermData.id}}</span>
            <span ng-show="!prev_annotations.length" class="md-headline">No GAFs have been submitted with {{goTermData.id}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="prev_annotations.length">
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>Gene ID</th>
                        <th md-column><span>Name</span></th>
                        <th md-column><span>Reference</span></th>
                        <th md-column><span>Evidence Code</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select-id="name" ng-repeat="d in prev_annotations">
                        <td md-cell>{{d.db_object_id}}</td>
                        <td md-cell>{{d.db_object_name}}</td>
                        <td md-cell>{{d.db_reference}}</td>
                        <td md-cell>{{d.evidence_code}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{prev_annotations.meta.count}}" md-page-select="options.pageSelect" md-on-paginate="updateData"></md-table-pagination>
    </md-card-content>
</md-card>
