<div class="col-sm-6">
    <!-- FORM ============ -->
    <form name="loginForm" ng-submit="saveData()" novalidate>

        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="loginForm.username" required>
            <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Your username is required.</p>
        </div>
        <!-- PASSWORD  -->
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="loginForm.password" required>
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Your password is required</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Sign in</button>
    </form>
</div>
