<style>
    md-toolbar.md-table-toolbar.alternate {
      color: #1e88e5;
      background-color: #e3f2fd;
    }

    md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
      font-size: 16px;
    }
</style>
<!--<md-progress-linear md-mode="determinate" value="90"></md-progress-linear>-->
<!--<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">-->
  <!--<div class="md-toolbar-tools">-->
      <!--<span>GAFs for Review</span>-->
  <!--</div>-->
<!--</md-toolbar>-->
<!--FLAGGED = (-->
    <!--(0, 'Protein'),-->
    <!--(1, 'Publication'),-->
    <!--(2, 'Qualifier'),-->
    <!--(3, 'Go term'),-->
    <!--(4, 'Evidence'),-->
    <!--(5, 'Originality'),-->
<!--)-->


<md-card>
    <md-card-title>
        </md-card-title-text>
            <span ng-show="for_review.length" class="md-headline">You have {{for_review.length}} annotations left to review!</span>
            <span ng-show="!for_review.length" class="md-headline">There are no Annotations to review at this time.</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="for_review.length">
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">GAF Form</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="idk">
            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>Gene ID</label>
                    <input disabled name="db_object_id" ng-model="gafData.db_object_id"/>
                </md-input-container>
                <md-input-container flex>
                    <label>Qualifier</label>
                    <md-select disabled name="qualifier" ng-model="gafData.qualifier">
                        <!--<md-option ng-repeat="qualifier in qualifiers">{{qualifier}}</md-option>-->
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
                <md-input-container class="md-block" flex>
                    <label>GO ID</label>
                    <input disabled ng-model="gafData.go_id"/>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>PMID (DB Reference)</label>
                    <input disabled name="db_reference" ng-model="gafData.db_reference"/>
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>Evidence Code</label>
                    <md-select disabled name="evidence_code" ng-model="gafData.evidence_code">
                        <!--<md-option ng-repeat="eco_code in eco_codes">{{eco_code}}</md-option>-->
                    </md-select>
                </md-input-container>
                <div layout="row" layout-sm="column" flex="40">
                    <md-input-container flex>
                        <label>With/From</label>
                        <md-select disabled name="with_from_db" ng-model="gafData.with_from_db">
                            <!--<md-option ng-repeat="w_f_db in with_from_db">{{w_f_db}}</md-option>-->
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>ID</label>
                        <input disabled name="with_from_id" ng-model="gafData.with_from_id"/>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-sm="column">
                <md-input-container class="md-block" flex>
                    <label>Notes</label>
                    <textarea disabled name="notes" ng-model="gafData.notes" rows="5"></textarea>
                </md-input-container>
            </div>
            <!--<md-button ng-disabled="GAFForm.$invalid" class="md-primary md-raised" ng-click="saveData()">Submit</md-button>-->
        </form>
    </md-card-content>
</md-card>
