<style>
    md-toolbar.md-table-toolbar.alternate {
      color: #1e88e5;
      background-color: #e3f2fd;
    }

    md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
      font-size: 16px;
    }
    md-input-container .md-input[disabled] {
        color: black;
    }
    md-input-container textarea[md-no-autogrow].md-input {
        height: inherit;
        overflow-y: auto;
    }
    md-checkbox.md-checked .md-icon {
        background-color: rgba(0, 205, 0, 0.87);
    }

    .md-icon {
        border-color: red !important;
    }
</style>

<md-card>
    <md-card-title>
        </md-card-title-text>
            <span ng-show="num_left" class="md-headline">You have {{num_left}} annotations left to review!</span>
            <span ng-show="!num_left" class="md-headline">There are no Annotations to review at this time.</span>
            <md-button ng-disabled="!num_left" class="md-raised md-accent" ng-click="put_gaf()">Next</md-button>
        </md-card-title-text>
    </md-card-title>
</md-card>
<div layout="row" layout-align="center">
    <md-card ng-show="num_left" flex="30">
        <md-card-header style="background-color:#e3f2fd;">
            <md-card-avatar>
                <img gravatar-src="current_gaf.owner.email" style="border-radius: 50%">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{current_gaf.owner.username}}</span>
                <span flex class="md-subhead">{{current_gaf.date}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content md-colors="{background: 'red'}">
            <form name="idk">
                <div layout="row" layout-sm="column">
                    <md-checkbox ng-false-value="0" ng-true-value="null" ng-model="flagged.protein" ng-click="checked()" aria-label="Gene ID Checkbox"></md-checkbox>
                    <md-input-container flex>
                        <label>Gene ID</label>
                        <input disabled name="db_object_id" ng-model="current_gaf.db_object_id"/>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-checkbox ng-false-value="2" ng-true-value="null" ng-model="flagged.qualifier" aria-label="Qualifier Checkbox"></md-checkbox>
                    <md-input-container flex ng-show="current_gaf.qualifier">
                        <label>Qualifier</label>
                        <input required name="qualifier" ng-model="current_gaf.qualifier"/>
                    </md-input-container>
                    <md-input-container flex ng-show="!current_gaf.qualifier">
                        <label>Qualifier</label>
                        <input disabled name="qualifier" value="None"/>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-checkbox ng-false-value="3" ng-true-value="null" ng-model="flagged.go_id" aria-label="GO ID Checkbox"></md-checkbox>
                    <md-input-container class="md-block" flex>
                        <label>GO ID</label>
                        <input disabled ng-model="current_gaf.go_id"/>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-checkbox ng-false-value="1" ng-true-value="null" ng-model="flagged.publication" aria-label="PMID Checkbox"></md-checkbox>
                    <md-input-container class="md-block" flex>
                        <label>PMID (DB Reference)</label>
                        <input disabled name="db_reference" ng-model="current_gaf.db_reference"/>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-checkbox ng-false-value="4" ng-true-value="null" ng-model="flagged.evidence" aria-label="Evidence Code Checkbox"></md-checkbox>
                    <md-input-container flex>
                        <label>Evidence Code</label>
                        <input disabled name="evidence_code" ng-model="current_gaf.evidence_code"/>
                    </md-input-container>
                    <md-input-container flex>
                    <!--<md-input-container ng-if="-->
                            <!--current_gaf.evidence_code != 'IDA'-->
                            <!--&& current_gaf.evidence_code != 'IMP'" flex>-->
                        <label>With/From</label>
                        <input disabled name="with_from_db" ng-model="current_gaf.with_or_from"/>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-block" flex>
                        <label>Notes</label>
                        <textarea disabled name="notes" ng-model="current_gaf.notes" rows="5"></textarea>
                    </md-input-container>
                </div>
                <!--<md-button ng-disabled="GAFForm.$invalid" class="md-primary md-raised" ng-click="saveData()">Submit</md-button>-->
            </form>
            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>Review Comments</label>
                    <textarea rows="3" md-no-autogrow/>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex="70" ng-show="!anyFlagged()">
        <md-toolbar class="md-primary">
          <h2 class="md-toolbar-tools">
            <span>Annotation Correct</span>
          </h2>
        </md-toolbar>
        <md-content class="md-padding">
            This annotation was marked as correct.
            <md-button class="md-primary md-raised">Submit</md-button>
        </md-content>
    </md-card>

    <md-card flex="70" ng-show="anyFlagged()">
        <md-toolbar class="md-warn">
          <h2 class="md-toolbar-tools">
            <span>Annotation Incorrect: Reviewer Comments</span>
          </h2>
        </md-toolbar>
        <md-content class="md-padding">
            <md-input-container>
                <label>Review Comments</label>
                <textarea rows="3" md-no-autogrow/>
            <md-button class="md-primary md-raised">Submit</md-button>
            </md-input-container>
        </md-content>
    </md-card>
</div>
