<div layout="row" class="md-padding">
    <div class="container-fluid" layout="column" flex="25">
        <h1>{{team.name}}</h1>
        <md-card ng-repeat="user in team.users">
            <a ng-href="#/users/{{ user.id }}">
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media" layout layout-align="center center">
                        <img gravatar-src="user.email" style="border-radius: 50%">
                    </div>
                </md-card-title-media>
                <md-card-title-text style="padding-left: 1em">
                    <span class="md-headline" ng-bind="user.username"></span>
                    <span class="md-subhead description" ng-bind=""></span>
                </md-card-title-text>
            </md-card-title>
            </a>
        </md-card>
    </div>
    <div flex="75">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ team.name }}'s Submitted Annotations</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content ng-show="data">
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span>Status</span></th>
                                <th md-column><span>User</span></th>
                                <th md-column><span>Gene ID</span></th>
                                <th md-column><span>Name</span></th>
                                <th md-column><span>Reference</span></th>
                                <th md-column><span>Evidence Code</span></th>
                                <th md-column><span>Date</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="d in data">
                                <td md-cell>
                                    {{d.review_state | review_state_to_english}}
                                </td>
                                <td md-cell>
                                    <img gravatar-src="d.owner.email" gravatar-size="30" style="border-radius: 50%">
                                    <a href="#/users/{{d.owner.id}}">
                                        {{ d.owner.username }}
                                    </a>
                                </td>
                                <td md-cell>{{d.db_object_id}}</td>
                                <td md-cell>{{d.db_object_name}}</td>
                                <td md-cell>{{d.db_reference}}</td>
                                <td md-cell>
                                    <md-tooltip md-direction="down">
                                        {{d.evidence_code | eco_to_text}}
                                    </md-tooltip>
                                    {{ d.evidence_code }}
                                </td>
                                <td md-cell>{{d.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination
                    md-limit="query.limit"
                    md-page="query.page"
                    md-total="{{data.meta.count}}"
                    md-page-select="options.pageSelect"
                    md-on-paginate="updateData"></md-table-pagination>
            </md-card-content>
        </md-card>
    </div>
</div>
