<!doctype html>
<html lang="en" ng-app="cacaoApp">
<head>
    <meta charset="utf-8">
    <title>Cacao</title>


    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

    <script src="js/app.js"></script>
</head>
<body>
    <div ng-controller="NavCtrl" layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span class="md-title"><a href="#/">CACAO</a></span>
                </h2>
                <span flex></span>
                <md-button aria-label="show menu" class="md-icon-button" ng-click="toggleRight()">
                    <ng-md-icon icon="menu" style="fill: white" ></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
            <md-card>
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" layout layout-align="center center">
                            <img gravatar-src="userData.email" style="border-radius: 50%">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text style="padding-left: 1em">
                        <span class="md-headline" ng-bind="userData.username"></span>
                        <span class="md-subhead description" ng-bind="userData.email"></span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-content>
                <div ng-if="!userData.email">
                    <md-button ng-click="go('/login')" class="md-primary md-raised">
                        Login
                    </md-button>
                </div>
                <div ng-if="userData.email">
                    <md-button ng-click="go('/gaf')" class="md-raised md-primary">
                        Submit an Annotation
                    </md-button>
                    <md-button ng-click="go('/logout')" class="md-raised md-secondary">
                        Log Out
                    </md-button>
                    <md-button ng-click="go('/teams/')" class="md-raised md-secondary">
                        My Team
                    </md-button>
                </div>
            </md-content>
        </md-sidenav>
        <div class="view-container">
            <div ng-view class="view-frame"></div>
        </div>
    </div>
</body>
</html>
